{% extends 'home.html' %}

{% block content %}
<h2>Propiedades donde eres inquilino:</h2>
<ul>
  {% for propiedad in propiedades_inquilino %}
    <li>{{ propiedad.tipo }} - {{ propiedad.direccion }}</li>
  {% empty %}
    <li>No eres inquilino de ninguna propiedad.</li>
  {% endfor %}
</ul>

<h2>Propiedades donde eres dueño:</h2>
<ul>
  {% for propiedad in propiedades_dueño %}
    <li>{{ propiedad.tipo }} - {{ propiedad.direccion }}</li>
  {% empty %}
    <li>No eres dueño de ninguna propiedad.</li>
  {% endfor %}
</ul>
{% endblock %}